.overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.5);
}

.login-wrapper{
    background-color: transparent;
    padding: 3rem 0;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-close{
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(1.1);
    cursor: pointer;
}

.login {
    width: 90%;
    background-color: #ffffff;
    border-radius: 8px;
}

.login-notification {
    height: 4.3rem;
    background-color: #EFFFF4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.login-notification {
    color: #008A45;
    font-weight: 500;
}

.login-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login-form {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    font-size: 1.8rem;
}

.login-form form {
    margin: 2rem auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.login-form form input {
    height: 3.2rem;
    background-color: #F7F8FA;
    border: 1px solid #D9D9DB;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000;
    padding: 0 3% 0;
}

.login-form form input::placeholder {
    color: #8A8A8A;
}

.div-inp-pass {
    width: 100%;
    position: relative;
}

.div-inp-pass input {
    width: 93.5%;
}

.div-inp-pass svg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 1rem;
    font-size: 1.5rem;
    color: #8A8A8A;
    cursor: pointer;
}

.login-form form input:focus {
    outline: none;
}

.login-form form input::placeholder {
    color: #8A8A8A;
    font-weight: 500;
}

.login-form form button {
    width: 100%;
    margin: 1.5rem 0;
    height: 3.25rem;
    background-color: #2F6CE5;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 1.17rem;
    cursor: pointer;
}

.login-form .forgot-pass{
    margin: auto;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}

.login-third-party {
    width: 100%;
}

.login-third-party div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    border: radius 2px;
    border: 1px solid #D9D9DB;
    margin: 10px 0;
}

.login-third-party div img {
    margin: 0 5% 0 0;
}

.login-more {
    padding: 6%;
}

.login-more div {
    display: flex;
    justify-content: right;
}

.login-more div a{
    text-decoration: none;
}

.login-more div p {
    cursor: pointer;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 1.05rem;
}

.login-more div p span {
    color: #2F6CE5;
    font-weight: 500;
}

.login-more img {
    transform: scale(0.9);
    margin: 1.8rem 1rem 0 0;
}
