.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 4rem;
    /* margin: 1rem 0; */
    box-shadow: 0 4px 2px -2px rgba(50, 50, 50, 0.2);
}
.navbar a{
    text-decoration: none;
}
.nav-title {
    color: #5C5D5D;
    font-weight: 300;
}

.nav-title span:last-child {
    background: url(/assets/world.svg);
    display: inline-block;
    width: 25px;
    height: 24px;
    background-repeat: no-repeat;
}

.nav-title span:first-child {
    color: #27A365;
}
.nav-search {
    width: 25rem;
}
.nav-search form{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.nav-search form input{
    width: 100%;
    height: 2.5rem;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border: none;
    background-color: #f2f2f2;
    font-weight:500 ;
    color: #424242;
}
.nav-search form input:focus{
    outline: none;
}
.nav-search form input::placeholder{
    color: #5c5c5c;
    font-weight: 500;
}
.nav-search form button{
    background-color: #f2f2f2;
    width: 3rem;
    height: 2.5rem;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-search form button svg{
    font-size: 1.2rem;
    font-weight: 900;
    color: #7a7a7a;
}

.nav-auth p{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    color: #2e2e2e
}
.clicked svg{
    transform: rotate(180deg);
}
.nav-auth p span{
color: #2F6CE5;
}
.nav-auth p svg{
    transition: 0.1s ease-in-out;
    color: #2e2e2e;
    font-size: 1.3rem;
    margin: 0 5px;
}